#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  Copyright (c) 2022 Valve Software
#  Authors: Vicki Pfau <vi@endrift.com>
#  Authors: Guilherme G. Piccoli <gpiccoli@igalia.com>
#
[Unit]
Description=SteamOS log submitter timer - retries sending logs hourly
After=basic.target
After=network-online.target
Requires=var-lib-steamos\x2dlog\x2dsubmitter.mount

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=multi-user.target
